<form name="landForm" class="form-horizontal">
    <!--<div class="form-actions">-->
        <!--<button type="submit" class="btn btn-primary">Save</button>-->
        <!--<button class="btn">Cancel</button>-->
    <!--</div>-->
    <fieldset>
        <legend>Basics</legend>
        <div class="control-group">
            <label class="control-label" for="land_name">Name</label>
            <div class="controls">
                <input type="text" id="land_name" ng-model="activeLand.name" name="name" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="land_location">Location</label>
            <div class="controls">
                <input type="text" id="land_location" ng-model="activeLand.location" name="location" required/>
            </div>
        </div>
        <input type="hidden" ng-model="activeLand.key"/>
        <textarea class="input-xlarge" rows="8" ng-model="activeLand.geom"></textarea>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" ng-click="saveLand()">Save</button>
        <button type="reset" class="btn" ng-click="$location.path('#/')">Cancel</button>
    </div>
</form>