<!--<div id="content" class="container-fluid">-->
<!--<div class="row-fluid" style="height: 100%">-->
    <!--<div id="map_span" class="span6">-->
        <!--<div id="map_canvas"></div>-->
    <!--</div>-->
    <!--<div id="land_add_spa" class="span6">-->
        <!--<form class="form-horizontal" ng-submit="saveLand()">-->
            <!--<div class="form-actions">-->
                <!--<button type="submit" class="btn btn-primary">Save</button>-->
                <!--<button class="btn">Cancel</button>-->
            <!--</div>-->
            <!--<fieldset>-->
                <!--<legend>Basics</legend>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="land_name">Name</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" class="input-xlarge" id="land_name" name="name" ng-model="active_land.name"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="land_location">Location</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" class="input-xlarge" id="land_location" name="location" ng-model="active_land.location"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</fieldset>-->
            <!--<div class="form-actions">-->
                <!--<button type="submit" class="btn btn-primary">Save</button>-->
                <!--<button class="btn">Cancel</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->