<form class="form-horizontal" ng-submit="saveLand()">
    <!--<div class="form-actions">-->
    <!--<button type="submit" class="btn btn-primary">Save</button>-->
    <!--<button class="btn">Cancel</button>-->
    <!--</div>-->
    <fieldset>
        <legend>Basics</legend>
        <div class="control-group">
            <label class="control-label" for="land_name">Name</label>
            <div class="controls">
                <input type="text" id="land_name" ng-model="activeLand.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="land_location">Location</label>
            <div class="controls">
                <input type="text" id="land_location" ng-model="activeLand.location"/>
            </div>
        </div>
        <input type="hidden" ng-model="activeLand.key"/>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn">Cancel</button>
    </div>
</form>