<!--<div id="content" class="row-fluid">-->
    <!--<div id="map_span" class="span9">-->
        <!--<div id="map_canvas"></div>-->
    <!--</div>-->
    <!--<div id="lands_span" class="span3">-->
        <!--<table class="table table-condense table-striped">-->
            <!--<tbody>-->
            <!--<tr ng-repeat="land in lands" ng-click="editLand(land)">-->
                <!--&lt;!&ndash;<td><input type="checkbox" ng-click="deleteLand(land)"/></td>&ndash;&gt;-->
                <!--<td><strong>{{ land.name }}</strong><br/>{{ land.location }}</td>-->
                <!--&lt;!&ndash;<td><button class="icon-circle-arrow-down"></button></td>&ndash;&gt;-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->